<header>
    <div class="navbar">
        <div class="social-icons" *ngIf="!showLogo">
            <div class="item">
                <i class="fab fa-instagram fa-inverse fa-lg"></i>
            </div>
            <div class="item">
                <i class="fab fa-500px fa-inverse fa-lg"></i>
            </div>
            <div class="item">
                <i class="fab fa-whatsapp fa-inverse fa-lg"></i>
            </div>
            <div class="item">
                <i class="fab fa-facebook fa-inverse fa-lg"></i>
            </div>
        </div>
        <img class="logo" src="/assets/imgs/logo.png" *ngIf="showLogo">
        <div id="navbar-items" 
            class="ui right floated secondary menu" 
            [ngClass]="{'dark':darkItems}">
            <a class="item">
                Sesiones
            </a>
            <a class="item">
                Eventos
            </a>
            <a class="item">
                Publicidad
            </a>
            <a class="item">
                Hogar y Decoración
            </a>
            <a class="item">
                Contacto
            </a>
        </div>
    </div>
</header>

<!-- <router-outlet></router-outlet> -->
<div class="social-icons footer" *ngIf="showLogo" [ngClass]="{'dark':darkItems}">
    <div class="item">
        <i class="fab fa-instagram fa-inverse fa-lg"></i>
    </div>
    <div class="item">
        <i class="fab fa-500px fa-inverse fa-lg"></i>
    </div>
    <div class="item">
        <i class="fab fa-whatsapp fa-inverse fa-lg"></i>
    </div>
    <div class="item">
        <i class="fab fa-facebook fa-inverse fa-lg"></i>
    </div>
</div>
<app-home></app-home>
<app-sessions></app-sessions>
<app-events></app-events>