<section id="events" class="section">
  <div class='aside aside-right'>
    <div class="aside-title">
      <h1>Eventos</h1>
    </div>
    <br>
    <div class="aside-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Praesent vulputate arcu vel vulputate gravida. Donec aliquam,
      urna id fermentum gravida, ligula dolor bibendum odio, at
      malesuada sem ante sed diam. Integer ut ullamcorper leo.
    </div>
    <div class="aside-image">
      <img class="ui fluid image animated-infinite-tada-delay3s" src="assets/imgs/events/cheers.png">
    </div>
  </div>
</section>