.navbar {
    position: fixed;
    padding: 10px 15px 10px 15px;
    width: 100%;
}
.navbar .logo {
    height: 100px;
}
.social-icons {
    position: fixed;
    margin-top: 2px;
}
.social-icons .item {
    font-size: 1.1em;
    padding: 8px;
    background: rgba(255,255,255,.25);
    border-radius: 50%;
    float: left;
    margin: 0px 5px 0px 5px;
}
.social-icons .item:hover {
    background: rgba(255,255,255,.45);
}
#navbar-items {
    margin-top: 6px;
}
#navbar-items .item {
    color: white;
}
#navbar-items .active.item,#navbar-items .item:hover {
    background: rgba(255,255,255,.25);
}

.section {
    height: 100vh;
}